{% extends 'base.html.twig' %}

{% block title %}Product Details{% endblock %}

{% block body %}

    {% if product %}
        <h2>{{ product.name }}</h2>
        <p>ID: {{ product.id }}</p>
        <p>Name: {{ product.name }}</p>
        <p>Price: {{ product.price }}</p>
    {% else %}
        <p>Product not found</p>
    {% endif %}

    <a href="{{ path('home') }}">Accueil</a>

{% endblock %}


